<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta content="ポートフォリオ用サイト" name="description">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="robots" content="none,noarchive">
    <meta name="keywords" content="sato,satop">
    <meta property="og:title" content="TOP" />
    <meta property="og:description" content="ポートフォリオ用サイト" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://satop0.github.io/" />
    <meta property="og:image" content="https://satop0.github.io/image/siteImage.png" />
    <meta property="og:site_name" content="PORTFOLIO" />
    <meta property="og:locale" content="ja_JP"  />

    <title>ポートフォリオサイト</title>
    <link rel="stylesheet" href="css/styles.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body class="scrollbar">
    <header>
      <div id="logo">
        <h1>PORTFOLIO</h1>
      </div>
      
      <div class="pc">
        <nav>
          <ul id="AppMenu" class="container">
            <li v-for="menu in menus" class="pc-menu">
              <a class="menubtn" v-bind:href="menu[1]">{{ menu[0] }}</a>
            </li>
          </ul>
        </nav>
      </div>

      <div class="moba">
        <div class="m-open">
          <span class="material-icons" id="open">menu</span>
        </div>
        
        <div class="overlay">
          <span class="material-icons" id="close">close</span>
          <nav>
            <ul id="AppMenu2">
              <li v-for="menu in menus">
                <a class="menubtn" v-bind:href="menu[1]">{{ menu[0] }}</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      
    </header>

    <main>
      <h1>ポートフォリオ一覧</h1>

      <section>

        <h2>作成HPサンプル</h2>
        <div id="AppLinkSite">
          <ul class="grid">
            <li v-for="url in urls">
              <a class="card" v-bind:href="url[1]">{{ url[0] }}</a>
            </li>
          </ul>
        </div>
      </section>
    </main>
      
    <footer>
      <p>2021 / ©tkg</p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>